<footer>
  <div class="container">
    <div class="links">
      <h5 class="links-header">Company</h5>
      <ul>

        <li routerLink="/about">About us</li>
        <li routerLink="/about">Careers</li>
        <li routerLink="/about">Security</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Products</h5>
      <ul>
        <li><a href="https://geminibitcoinexchange.com"></a>Gemini</li>
        <li><a href="https://geminibitcoinexchange.com/#/contact"></a>Gemini Earn®</li>
        <li><a href="https://geminibitcoinexchange.com/#/contact"></a>Gemini Credit Card</li>
        <li><a href="https://geminibitcoinexchange.com/#/institutions"></a>Gemini ActiveTrader®</li>
        <li><a href="https://geminibitcoinexchange.com"></a>Gemini Mobile</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Support</h5>
      <ul>
        <!-- <li>Who we are</li> -->
        <li routerLink="/contact" >Help Center</li>
        <li routerLink="/contact" >Contact Us</li>
        <li routerLink="/contact" >System Status</li>
        <li routerLink="/contact">Areas of Availability</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Links</h5>
      <ul>
        <li routerLink="/about"><a href="https://geminibitcoinexchange.com/#/price">Prices</a></li>
        <li routerLink="/about"><a href="https://geminibitcoinexchange.com">Cryptopedia®</a></li>
        <li routerLink="/about"><a href="https://geminibitcoinexchange.com/#/about">Refer a Friend</a></li>
        <li routerLink="/about"><a href="https://geminibitcoinexchange.com/#/contact">Legal Agreements</a></li>
        <li routerLink="/services"><a href="https://geminibitcoinexchange.com/#/about">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
  <div class="container">
    <p class="copyright">
      © Copyright {{ currentYear }} Gemini Trust Company, LLC..
    </p>
  </div>
</footer>
